table {
    width: 100%;
  }

tr.productRow:hover{
  background-color: bisque;
   cursor: pointer;
}

tr th{
  text-align: center;
}
.card{
  background-color: bisque;
  margin: 10px;
}

.not_available{
  background-color: rgb(202, 38, 38);
  cursor: not-allowed;
}
