<mat-toolbar color="primary" class="toolbar-header">
  <mat-toolbar-row>
    <a class="logo"><span> Digital Pharmacy </span> </a>
    <span class="spacer"></span>
    <span *ngIf="this.sessionData.getUsername() != ''" class="welcome">  Hello {{this.sessionData.customer_name}}</span>
    <span class="spacer"></span>

    <div class="navbar-buttonrow" *ngIf="this.sessionData.username == ''">
      <button mat-raised-button (click)="openLogin()" color="accent">Log In</button>
      <button mat-button routerLink="register">Register</button>
    </div>
    <button mat-button *ngIf="this.sessionData.username != ''" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="background"></div>
<div class="container">
  <div [style.display]="sessionData.overlay" id="inner_overlay"></div>
  <!-- <p> Businesskey:   {{ sessionData.businesskey }}</p>
  <p> Process Instance: {{ sessionData.processInstanceID }}</p>
  <p> Task : {{ sessionData.actualTaskID }}</p>
  <p> Task ID: {{ sessionData.actualTaskName }}</p> -->

  <router-outlet></router-outlet>
  <div class="spinner" *ngIf="sessionData.in_progress">
    <mat-spinner></mat-spinner>
    <p>{{ sessionData.status }}</p>
  </div>
</div>

