<div class="dialog-content">

    <div [style.display]="overlay" id="overlay"></div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

        <mat-form-field>
                <input id="customer_id" formControlName="customer_id" matInput placeholder="Customer ID">
        </mat-form-field>

        <mat-form-field>
                <input type="password" id="password" formControlName="password" matInput placeholder="Password">
        </mat-form-field>            

    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary">Login</button> 
        <button mat-raised-button color="warning" (click)="close()">Cancel</button>  
    </div>
    </form>

    <div class="spinner" *ngIf="wait">
        <mat-spinner></mat-spinner>
        <p>{{ status }}</p>
    </div>

</div>

